<ion-view view-title="Dashboard">
  <ion-content class="padding ll">
    <h2>NOTICIAS DEL MUNDO POKEMON</h2>
  </div>
		<h3>A continuacion veremos algunas notias sobre tus pokemon y sobre las nuevas peleas:</h3>
		<div class="col-100 "><h2>pokemon</h2></div>
		<div class="col-10"></div>
  <center><img center class=""  src="img/n1.jpg">
  <h3>!SAL DE INCURSION EN POKÉMON ESPADA Y POKÉMON ESCUDO!</h3>
  <HEAD>Descubre los pokemon Dinamax lo que te espera en el Área Silvestre de Galar</HEAD>

  
  <div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/n2.jpg">
  
   <div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/n3.jpg">
  

   <div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nn1.png">

   <div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nn2.jpg">

   <div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nn3.jpg">

 
  <div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nn4.jpg">

		<div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nn6.png">

		<div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nn5.png">

		<div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nnn4.png">

		<div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nnn3.png">

		<div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nnn2.png">

		<div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nnn1.jpg">

		<div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nn5.png">

		<div class="col-100 "></div>
		<div class="col-10"></div><img center class=""  src="img/nn6.png">
 </center>
  </ion-content>
</ion-view>
